{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>

<body class="page_body">

    <div class="signup-container">
        <h1 class="signup-title">Login</h1>

        <div class="form-group">
            <h3>Welcome Back</h3>

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="input-group">
                    <label for="id_username">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                
                <div class="input-group">
                    <label for="id_password">Password</label>
                    {{ form.password }}
                </div>

                <div class="error-messages">
                    {% if form.non_field_errors %}
                        <p class="text-danger">{{ form.non_field_errors }}</p>
                    {% endif %}
                </div>

                <div class="signup-footer">
                    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                </div>

                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>

</body>

{% endblock %}