{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css", 
    href="{% static 'css/styles.css' %}?v=1">
</head>

<body class="page_body">

    <h1>Login</h1>
    <br/><br/>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div>
                <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

</body>

{% endblock %}