{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>

<body class="page_body">

    <div class="signup-container">
        <h1 class="signup-title">Sign Up</h1>

        <div class="form-group">
            <h3>Create Your Account</h3>

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="input-group">
                    <label for="id_username">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                
                <div class="input-group">
                    <label for="id_first_name">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                </div>

                <div class="input-group">
                    <label for="id_last_name">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                </div>

                <div class="input-group">
                    <label for="id_email">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>

                <div class="input-group">
                    <label for="id_password1">Password</label>
                    {{ form.password1 }}
                </div>

                <div class="input-group">
                    <label for="id_password2">Retype Password</label>
                    {{ form.password2 }}
                </div>

                <div class="input-group">
                    <label for="id_profile_picture">{{ form.profile_picture.label }}</label>
                    {{ form.profile_picture }}
                </div>

                <div class="error-messages">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="signup-footer">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>

                <input type="submit" class="btn btn-primary" value="Register Account">
            </form>
        </div>
    </div>

</body>

{% endblock %}
