<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} SpartanSpace {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Syne:wght@400;600;700;800&family=DM+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet"/>
  </head>
  <body>

    <!-- Calls the specific HTML files to load on all pages -->
    {% include 'navbar.html' %}

    <br/>

      {% block content %}
      <!-- Acts as the placeholder for the HTML file of the pages -->
      {% endblock %}

    <br/>

    {% include 'footer.html' %}
    
  </body>
</html>