<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Spartan Space {% endblock %}</title>
  </head>
  <body>

    <!-- Calls the specific HTML files to load on all pages -->
    {% include 'navbar.html' %}

    <br/>

      {% block content %}
      <!-- Acts as the placeholder for the HTML file of the pages -->
      {% endblock %}

    <br/>

    {% include 'footer.html' %}
    
  </body>
</html>