{% extends 'base.html' %}

{% block title %} Campus Events {% endblock %}

{% load static %}

{% block content %}

<head>
    <title>Campus Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v=1">
</head>

<body class='page_body'>
    <h1>Campus Events</h1>

    <h2>Sort By:</h2>
    <form method="GET" action="">
        <select name="order_by" onchange="this.form.submit()">
            <option value="event_date" {% if request.GET.order_by == 'event_date' %}selected{% endif %}>Event Date</option>
            <option value="author" {% if request.GET.order_by == 'author' %}selected{% endif %}>Author</option>
            <option value="name" {% if request.GET.order_by == 'name' %}selected{% endif %}>Name</option>
        </select>
    </form>

    <h2>Posts</h2>

    <ul>
        {% for post in object_list %}
            <li>
                <a href="{% url 'event_detail' post.pk %}">{{ post.title }}</a> - 
                <a href="{% url 'profile' username=post.author.username %}">
                    {{ post.author.first_name }} {{ post.author.last_name }}
                </a>
                <div>Event Date: {{ post.event_date }}</div>
                <div>{{ post.overview }}</div>
                <br>
                {% if post.header_image %}
                <img src="{{ post.header_image.url }}">
                {% endif %}
            </li>
        {% empty %}
            <li>No events available.</li>
        {% endfor %}
    </ul>
</body>

{% endblock %}