{% extends 'base.html' %}

{% block title %} Campus Events {% endblock %}

{% load static %}

{% block content %}

<head>
    <title>Campus Events</title>
    <link rel="stylesheet" type="text/css", 
    href="{% static 'css/styles.css' %}">
</head>

<body class = 'page_body'></body>
    <h1>Campus Events</h1>

    <h1> Post </h1>

    <ul>
    {% for post in object_list %}
        <li><a href="{% url 'event_detail' post.pk %}">{{ post.title }}</a> - {{ post.organization }} <br/> {{ post.event_date }} <br/> 
        {{ post.overview }}</li>

    {% endfor %}
    </ul>
</body>

{% endblock %}


