{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_details.css' %}">
</head>

<body class="page_body">

    {% if post.header_image %}
        <div class="event-image">
            <img src="{{ post.header_image.url }}" alt="{{ post.title }}">
        </div>
    {% endif %}

    <h1>{{ post.title }}</h1>
    <small class="post-author">By: {{ post.author.first_name }} {{ post.author.last_name }}</small>
    <hr class="divider">
    <div class="event-date">{{ post.event_date }}</div>

    <!-- Container for the post body -->
    <div class="post-body-container">
        <div class="post-body-content">
            {{ post.body|safe }}
        </div>
    </div>
    <br/>

    <a href="{% url 'events' %}" class="btn btn-secondary">Back</a>
</body>

{% endblock %}