{% extends 'base.html' %}
{% block title %} Campus Events {% endblock %}
{% load static %}
{% block content %}

<head>
    <title>Campus Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body class="page_body">
    <h1>Campus Events</h1>

    <h2>Sort By:</h2>
    <form method="GET" action="">
        <select name="order_by" onchange="this.form.submit()">
            <option value="event_date" {% if request.GET.order_by == 'event_date' %}selected{% endif %}>Event Date</option>
            <option value="author" {% if request.GET.order_by == 'author' %}selected{% endif %}>Author</option>
            <option value="name" {% if request.GET.order_by == 'name' %}selected{% endif %}>Name</option>
        </select>
    </form>

    <h2>Posts</h2>

    <div class="event-gallery">
        {% for post in object_list %}
            <div class="event-item">
                <a href="{% url 'event_detail' post.pk %}" class="event-link">
                    <div class="event-image">
                        {% if post.header_image %}
                            <img src="{{ post.header_image.url }}" alt="{{ post.title }}">
                        {% else %}
                            <div class="no-image">No Image Available</div>
                        {% endif %}
                    </div>
                    <div class="event-details">
                        <h3>{{ post.title }}</h3>
                        <p><a href="{% url 'profile' username=post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></p>
                        <p>Event Date: {{ post.event_date }}</p>
                        <p>{{ post.overview }}</p>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>No events available.</p>
        {% endfor %}
    </div>
</body>

{% endblock %}
