{% load static%}

<head>
    <link rel="stylesheet" type="text/css", 
    href="{% static 'css/footer.css' %}">
</head>

<footer>
    <p>&copy; 2023 spartanspace. All rights reserved.</p>
    <p>Contact us: info@yourorganization.com</p>
    <form action="#" method="post">
        <label for="email">Subscribe to our newsletter:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Subscribe</button>
    </form>
</footer>

</body>
</html>