{% extends 'base.html' %}

{% load static %}

{% block content %}


<head>
    <link rel="stylesheet" type="text/css", 
    href="{% static 'css/styles.css' %}">
</head>

<body class = 'page_body'>

    <h0>spartanspace.</h0>
    <p>
        Your go-to platform for room schedules and campus events at BatStateU. Easily check room availability, 
        stay updated on upcoming events, and keep track of your schedule—all in one place. Stay connected and 
        make the most of your campus experience with Spartan Space.
    </p>
    <div class = 'home_div'>
        <ul>
            <li><a href="{% url 'events' %}" class="button_primary">Campus Events</a></li>
            <li><a href="{% url 'task' %}" class="button_primary">Personal Task</a></li>
        </ul>
    </div>
    
    <br/>

</body>

{% endblock %}
