{% load static %}

<!DOCTYPE html>

<head>
    <title>Spartan Space</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>

<nav>
    <div class="logo">Campus<span>Board</span></div>
    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>

        {% if user.is_authenticated %}
            <a href="{% url 'profile' username=user.username %}">Profile</a>

                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}">+ Add Post</a>
                {% endif %}

                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-btn">Logout</button>
                </form>

        {% else %}
            <a href="{% url 'signup' %}" class="navbar-link">Sign Up</a>
            <form action="{% url 'login' %}" style="display:inline;">
                <button class="nav-btn">Login</button>
            </form>
            
        {% endif %}
    </div>
</nav>    

</html>
